.promo-main {
  position: relative;
  min-height: 800px;
  margin-bottom: -1px;
  background-color: $parchment-paper;
  background-image: linear-gradient(96.3deg, $parchment-paper 69%, $fiery-rose 69%);
  z-index: -1;
  overflow: hidden;

  @media (max-width: $desktop-width) {
    background-image: none;
  }

  @media (max-width: $tablet-width) {
    min-height: auto;
  }

  @media (max-width: $mobile-width) {
    overflow: inherit;
  }
}

.promo-main__container {
  padding-top: 198px;
  padding-left: 51px;
  padding-bottom: 184px;

  @media (max-width: $tablet-width) {
    padding-top: 158px;
    padding-bottom: 164px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 10px;
    padding-top: 140px;
    padding-bottom: 450px;
    text-align: center;
  }
}

.promo-main__graphic {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.promo-main__img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 7px;
  z-index: -1;
  object-fit: contain;

  @media (max-width: $desktop-width) {
    object-fit: cover;
  }

  @media (max-width: $mobile-width) {
    top: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.promo-main__picture {
  width: 100%;
  height: 100%;
  display: block;
}

.promo-main__tagline {
  padding-left: 9px;
  color: $fiery-rose;
  font-family: inherit;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;

  @media (max-width: $mobile-width) {
    margin-bottom: 9px;
    display: block;
    font-size: 20px;
  }
}

.promo-main__title {
  margin-top: 0;
  margin-bottom: 48px;
  color: $midnight-ocean;
  font-family: $secondary-font;
  font-size: 100px;
  line-height: 150%;
  letter-spacing: 2px;

  @media (max-width: $desktop-width) {
    font-size: 90px;
  }

  @media (max-width: $tablet-width) {
    font-size: 65px;
  }

  @media (max-width: 768px) {
    font-size: 50px;
  }

  @media (max-width: $mobile-width) {
    font-size: 40px;
    line-height: 150%;
    padding-left: 3px;
    letter-spacing: 0.8px;
    margin-bottom: 30px;
  }
}

.promo-main__button {
  display: flex;
  padding: 15px 51px 11px;
  margin-left: 15px;
  letter-spacing: .8px;
  transform: skew(-15deg);
  font-style: normal;

  @media (max-width: $mobile-width) {
    margin: 0 auto;
    padding: 14px 49px 7px;
  }
}

.promo-main__button span {
  transform: skew(15deg);
  font-style: normal;
}


.promo__picture {
  display: block;
}
