.promo-video {
  position: relative;
  padding-top: 108px;
  padding-bottom: 108px;
  margin-bottom: -1px;
  background-color: $fiery-rose;
}

.promo-video__background {
  position: absolute;
  top: 275px;
  left: -746px;
}
