

$mobile-width:     767px;
$tablet-width:     1023px;

$midnight-ocean:   #192632;
$fiery-rose:       #fc0000;
$soft-snowflake:   #f1f1f1;
$parchment-paper:  #f1e7d4;
$sand-dune:        #bdb199;

$main-font:        'Commons Trial', sans-serif;
